
/** {
  outline: 1px solid green !important;
}*/
body {
  font-family: "Cormorant Upright", serif;
}

.h3-color {
  color: #0f74a7;
}

.about-text {
  font-size: 18px;
  color: #556371;
}

.profile-image {
  width: 190px;
  border-radius: 50%;
  margin-top: 15px;
}

.heading-name {
  font-size: 55px;
}

.heading-subtitle {
  font-size: 28px;
}

.horizontal-line {
  border: 0;
  height: 1px;
  background: #444;
  background-image: linear-gradient(to right, #cdd, #444, #cdd);
}

.project-image {
  border-radius: 2px;
  box-shadow:  0 0 0.9em 0.2em rgba(0,0,0,0.4);
  cursor: pointer;
}

.container{
  max-width: 100%;
}

.social {
  display: inline-block;
}

.btn-format {
  border: 1px solid #15acda;
  background-color: #0bb0ef;
  color: aliceblue;
  border-radius: 5px;
  font-size: 18px;
  padding: 3px 15px 3px 15px;
}

.contact-header {
  color: #333;
}
.modal-para {
  padding: 0 10px 0 10px;
  text-align: justify;
  font-size: 16px;

}

.modal-image {
  border: 0.5px solid #ddd;
  border-radius: 5px;
  margin: auto;
}

#modal-footer {
  text-align: center;
}

.list-align {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.list-marker {
  list-style-type: none;
  padding: 5px;
  font-size: 18px;
  color: #17d1f1;
  font-weight: 600;
}

@media (max-width: 550px) and (min-width: 0px){
  .heading-name {
    font-size: 35px;
  }
  .heading-subtitle {
    font-size: 19px;
  }
  .text-right {
    text-align: center;
  }
  .profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1000px) and (min-width: 551px){
  .text-right {
    text-align: center;
  }
  .profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
