
/** {
  outline: 1px solid green !important;
}*/
html {
  --header-color: rgb(51, 51, 51);
  --project-skills: #D756F0;
  /* --project-title: #8e0fa7; */
  --project-title: #6c0b80;
  --heading-name: #41074d;
  --button-color: #337ab7;
  --button-color-hover:#23527c;
  --old-about-text-color: #556371;
  --section-details-color: #8e0fa7;
  --section-details-color-darker: #6c0b80;
}
body {
  font-family: "Cormorant Upright", serif;
}

.heading-name {
  font-size: 55px;
  color: var(--heading-name)
}

.heading-subtitle {
  font-size: 28px;
  color: var(--project-title)
}
h2 {
  color: var(--heading-name);
}

.h3-color {
  color: var(--project-title);
}

.about-text {
  font-size: 18px;
  color: var(--section-details-color);
  
}
/* .about-text.bold-text {
  color: var(--section-details-color-darker);
} */

.profile-image {
  width: 190px;
  border-radius: 50%;
  margin-top: 15px;
}

.horizontal-line {
  border: 0;
  height: 1px;
  /* background: #444; */
  background: var(--project-title);
  background-image: linear-gradient(to right, #cdd, var(--project-title), #cdd);
}

.project-image {
  border-radius: 2px;
  box-shadow:  0 0 0.9em 0.2em rgba(0,0,0,0.4);
  cursor: pointer;
}

.container{
  max-width: 100%;
}

.social {
  display: inline-block;
}

.btn-format {
  border: 0;
  background-color: var(--button-color);
  color: aliceblue;
  border-radius: 5px;
  font-size: 18px;
  padding: 3px 15px 3px 15px;
}

.btn-format:hover {
  /* border: 1px solid #15acda; */
  background-color: var(--button-color-hover);
}

.contact-header:hover {
  /*color: #333;*/
  text-decoration: none;
}
.made-with {
  font-weight: 700;
  color: var(--section-details-color);
}

.modal-title {
  color: var(--project-title);
}
.modal-para {
  padding: 0 10px 0 10px;
  text-align: justify;
  font-size: 16px;
  color: var(--section-details-color);
}

.modal-image {
  border: 0.5px solid #ddd;
  border-radius: 5px;
  margin: auto;
}

#modal-footer {
  text-align: center;
}

.list-align {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.list-marker {
  list-style-type: none;
  padding: 5px;
  font-size: 18px;
  color: var(--project-skills);
  font-weight: 600;
}

.text-message {
  font-size: 1.6rem;
  color: var(--project-skills);
}

@media (max-width: 550px) and (min-width: 0px){
  .heading-name {
    font-size: 35px;
  }
  .heading-subtitle {
    font-size: 19px;
  }
  .text-right {
    text-align: center;
  }
  .profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1000px) and (min-width: 551px){
  .text-right {
    text-align: center;
  }
  .profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
